.hidden {
    display: none !important
}

.inline {
    display: inline
}

.inline + span {
    font-size: 11px
}

.hidden--nojs {
    display: none
}

.client-js .hidden--nojs {
    display: block
}

.clearfix {
    width: 100%;
    clear: both;
    padding: 5px
}

.shift {
    position: absolute !important;
    left: -10000px !important
}

body, div, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, input, textarea, th, td {
    margin: 0;
    padding: 0
}

h1 {
    margin: 20px
}

button {
    outline: none
}

body, p, li {
    color: #333
}

body {
    font-size: 100%;
    /*line-height: normal;*/
    background-color: white; /*#e2dcc5;*/
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif
}

fieldset {
    width: 100%
}

p {
    font-size: .875em;
    line-height: 1.5em
}

hr {
    height: 1px;
    border: none;
    background: rgba(226, 220, 197, 0.66)
}

li {
    list-style: none;
    color: #333
}

a:link {
    color: #035a8c;
    /*text-decoration: underline*/
}

a:hover {
    color: #34662e;
    text-decoration: underline
}

a:visited {
    color: #036;
    text-decoration: underline
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;
    color: #666;
    font-weight: 600
}

div.head {
    margin-bottom: 10px;
    margin-top: 20px
}

div.head span {
    font-size: 12px
}

#contentBody li {
    line-height: 1.5em
}

#contentBody ol li {
    list-style: decimal
}

@media only screen and (max-width: 768px) {
    tr, tbody, table {
        overflow: auto;
        display: block
    }

    td {
        display: inline-block
    }
}

h1 {
    font-size: 1.875em
}

h1.title {
    font-size: 1.25em
}

h1 span.subtitle {
    font-size: .65em;
    font-weight: normal
}

h1.publisher {
    color: #625232;
    font-size: 1.375em;
    font-family: Georgia, "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
    font-weight: normal !important;
    margin: 0
}

h1.work-title {
    font-family: Georgia, "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 0;
    color: #333;
    font-size: 22px; /*1.3em*/
}

h1 span.count {
    font-size: 14px !important
}

h2 {
    font-size: 1.375em
}

h2.author {
    color: #625232;
    font-size: 1.125em;
    font-weight: normal
}

h2.authorEdition {
    color: #625232;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 0
}

h2.publisher {
    font-size: 1.375em;
    background-color: #ededed;
    padding: 10px;
    margin: 15px 0 0
}

h2.work-subtitle {
    font-family: Georgia, "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 5px 0;
    color: #666;
    font-size: 1.1em;
    font-weight: normal;
    font-style: italic
}

h2.edition-title {
    margin: 7px 0 0;
    color: #666;
    font-family: Georgia, "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: normal;
    font-size: 1.1em
}

h2 a {
    color: #035a8c;
    text-decoration: none
}

h2 a:hover {
    color: #34662e;
    text-decoration: underline
}

h1.edition, h2.edition {
    color: #000;
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, sans-serif;
    font-size: 1.125em;
    margin: 0;
    padding: 0;
    font-weight: normal
}

h3 {
    font-size: 1.0em
}

h3.Question {
    font-family: Georgia, "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1.2em;
    font-weight: normal;
    color: #625232;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dotted #dedede
}

h4 {
    font-size: .8125em
}

h4.publisher {
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 12px;
}

h4.facetHead {
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;
    font-size: .6875em;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    margin: 0 0 5px;
    padding: 0
}

h4.facetHead span.merge {
    font-family: "Lucida Grande", "Arial", "Helvetica", sans-serif;
    font-size: 11px;
    font-weight: normal !important;
    text-transform: none !important;
    padding-left: 22px;
    background: url(/images/icons/icon_merge-sm.png) no-repeat 0 0;
    min-height: 16px
}

h5 {
    font-size: .875em;
    font-family: Georgia, "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
    font-weight: normal !important
}

h6 {
    font-size: .6875em
}

.head h2 a {
    color: inherit !important;
    text-decoration: none
}

.head h2 a:hover {
    text-decoration: underline
}

div.head h1, div.head h2, div.head h3, div.head h4, div.head h5, div.head h6 {
    margin: 0;
    padding: 0
}

div.head.rel {
    position: relative
}

dt, span.title, h6.title {
    font-size: 12px;
    font-weight: normal !important;
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, sans-serif;
    color: #666;
    margin: 0;
    padding: 0
}

.titleSmall {
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 600
}

.heading span.count {
    font-size: 14px !important
}

#test-body-mobile {
    box-sizing: border-box;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #bbbcae
}

header + #test-body-mobile {
    margin-top: 20px
}

* {
    box-sizing: border-box
}

@media all and (min-width: 960px) {
    .contentQuarter {
        float: left;
        width: 215px
    }
}

#contentHead {
    padding: 20px
}

#contentHead h1 {
    margin: 0
}

div#contentBody, div.contentBody {
    padding: 0 20px 20px
}

.section, section {
    margin-bottom: 20px
}

.header-bar {
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.header-bar .account-component {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1em;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3
}

.header-bar .account-component a {
    color: #fff;
    text-decoration: none;
    display: block
}

.header-bar .account-component .down-arrow {
    margin-top: 1px
}

.header-bar .account-component .account-dropdown {
    position: absolute;
    z-index: 999;
    text-align: right;
    width: 125px;
    padding-top: 5px;
    right: 11px
}

.header-bar .account-component .account-dropdown ul a li {
    width: 150px;
    text-decoration: none;
    text-align: left;
    padding: 5px
}

.header-bar .auth-component {
    display: none;
    padding: 5px;
    padding-right: 0;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4
}

.header-bar .auth-component li {
    text-align: left;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
}

.header-bar .auth-component li a {
    color: #333
}

.header-bar .auth-component .hide-me {
    display: none
}

.header-bar .dropdown-menu {
    text-align: left;
    background-color: #f2f0e8;
    border: 1px solid #bbbcae;
    border-radius: 3px;
    cursor: pointer
}

.header-bar .dropdown-menu li {
    padding: 10px;
    border-bottom: 1px solid #e0e1cc;
    padding-right: 20px
}

.header-bar .dropdown-menu li:last-child {
    border: none
}

.header-bar .dropdown-menu li:hover {
    background-color: #fff
}

.header-bar .dropdown-menu li a {
    text-decoration: none;
    color: #333;
    font-size: .9em;
    padding: 10px;
    display: block
}

.header-bar .hamburger-dropdown-component {
    position: absolute;
    z-index: 999
}

.header-bar .hamburger-component {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    margin-right: 5px
}

.header-bar .hamburger-component button {
    background: transparent;
    border: none;
    cursor: pointer
}

.header-bar .hamburger-component img {
    width: 44px;
    height: 44px;
    padding: 0 3px
}

.header-bar .logo-component {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
}

.header-bar .logo-component .logo-icon {
    position: relative;
    top: -1px;
    height: 30px;
    width: auto;
    margin-right: 5px;
    padding-right: 5px;
    -ms-flex-item-align: center;
    align-self: center
}

.header-bar .navigation-component {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5
}

.header-bar .navigation-component .more-menu {
    display: none
}

.header-bar .navigation-component li {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    cursor: pointer;
    padding: 5px 0;
    font-size: 1em
}

.header-bar .navigation-component li a {
    color: #333;
    text-decoration: none;
    display: block
}

.header-bar .navigation-component li a:visited {
    color: #333;
    text-decoration: none
}

.header-bar .navigation-component li .dropdown-menu {
    position: absolute;
    z-index: 999;
    text-align: left;
    width: 100%;
    top: 6px
}

.header-bar .navigation-component li .dropdown-menu li a {
    color: #454545
}

.header-bar .navigation-component li .navigation-dropdown-component {
    position: relative
}

.header-bar .search-component {
    width: 45px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    height: 47px;
    margin-right: 5px;
    text-align: right;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.header-bar .search-component .search-component-expand {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: 8px;
    -ms-flex-item-align: center;
    align-self: center;
    height: 54px
}

.header-bar .search-component .search-component-expand .search-bar-component {
    width: 100%
}

.header-bar .search-component .search-component-expand .search-bar {
    width: auto
}

.header-bar .search-component .search-component-expand .search-bar .search-bar-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.header-bar .search-component .search-component-expand .search-bar-input input[type=text] {
    display: block;
    width: 100%
}

.header-bar .search-component .search-component-expand .search-bar-submit {
    margin-right: 5px;
    cursor: pointer
}

.header-bar .search-component .search-component-expand .search-facet-selector {
    display: block
}

.header-bar .search-component .search-component-expand .search-facet {
    display: block
}

.header-bar .search-component .expand .search-bar-advanced-btn {
    display: block
}

.header-bar .search-component .expand .search-bar-input input {
    width: 100%
}

.header-bar .search-component .expand .search-facet {
    display: block
}

.header-bar .search-component .search-bar {
    width: 45px
}

.header-bar .search-component .search-bar-submit {
    background: url(/static/images/search-lens.png) center no-repeat;
    width: 45px;
    height: 45px;
    border-top-left-radius: .3em;
    border-bottom-left-radius: .3em
}

.header-bar .search-component .search-bar-component {
    display: inline-block;
    border: 1px solid #bbbcae;
    border-radius: .3em;
    background-color: #fafafa;
    z-index: 999;
    position: relative
}

.header-bar .search-component .search-bar-advanced-btn {
    text-align: center
}

.header-bar .search-component .search-bar-input input[type=text] {
    max-width: 100%
}

.header-bar .search-component .search-dropdown {
    position: relative;
    z-index: 999
}

.header-bar .search-component .search-dropdown .search-results {
    background: #fff;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em
}

.header-bar .search-component .search-dropdown .search-results li {
    text-align: left;
    padding: 7px;
    border-top: 1px solid #dedede;
    font-size: .9rem
}

.header-bar .search-component .search-dropdown .search-results li:hover {
    background-color: #fff
}

.header-bar .search-component .search-dropdown .search-results li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    text-decoration: none;
    color: #333
}

.header-bar .search-component .search-dropdown .search-results li a img {
    width: 40px;
    min-width: 40px;
    height: 60px;
    min-height: 60px;
    background-color: #ededed;
    margin-right: 10px
}

.header-bar .search-component .search-dropdown .search-results li a .book-desc {
    font-weight: 300;
    text-decoration: none
}

.header-bar .search-component .search-dropdown .search-results li a .book-desc .book-title {
    font-weight: 500
}

.header-bar .search-component .search-dropdown .search-results li a .book-desc .book-author {
    color: #036
}

.header-bar .search-component .search-facet-selector {
    display: none;
    z-index: 2;
    margin-top: 3px;
    padding: 13px 10px 0;
    font-size: 14px
}

.header-bar .search-component .search-facet {
    display: none;
    position: relative;
    border-radius: 3px 0 0 3px;
    background-color: rgba(226, 220, 197, 0.32);
    border: none;
    border-right: 1px solid #dedede;
    font-weight: 500;
    color: #666
}

.header-bar .search-component .search-facet select {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    z-index: 1;
    background: none;
    border: none;
    cursor: pointer;
    max-width: 100%;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none
}

.header-bar .search-component .search-facet-value {
    display: block;
    min-width: 20px;
    padding-right: 10px
}

.header-bar .search-component .search-facet-value::after {
    position: absolute;
    top: 50%;
    right: 4px;
    content: '';
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid currentColor
}

.header-bar .search-component-expand {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: 8px;
    -ms-flex-item-align: center;
    align-self: center;
    height: 54px
}

.header-bar .search-component-expand .search-bar-component {
    width: 100%
}

.header-bar .search-component-expand .search-bar {
    width: auto
}

.header-bar .search-component-expand .search-bar .search-bar-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.header-bar .search-component-expand .search-bar-input input[type=text] {
    display: block;
    width: 100%
}

.header-bar .search-component-expand .search-bar-submit {
    margin-right: 5px;
    cursor: pointer
}

.header-bar .search-component-expand .search-facet-selector {
    display: block
}

.header-bar .search-component-expand .search-facet {
    display: block
}

.account-component {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative
}

.account-component .dropdown-avatar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.account-component .dropdown-avatar .avatar {
    border: none;
    margin-right: 5px;
    background-size: cover;
    width: 45px;
    height: 45px;
    background-color: #999;
    border-radius: 3px
}

.navigation-component {
    text-align: center;
    position: relative
}

.navigation-component .down-arrow {
    position: relative;
    top: -2px
}

.hamburger-component .navigation-dropdown-component, .navigation-component li .navigation-dropdown-component, .account-component .navigation-dropdown-component {
    display: none
}

.hamburger-component:hover .navigation-dropdown-component, .navigation-component li:hover .navigation-dropdown-component, .account-component:hover .navigation-dropdown-component {
    display: block
}

.logo-component {
    margin: 0 0 5px
}

.logo-component img, .logo-component a {
    display: block
}

.logo-component a {
    color: #000;
    text-decoration: none !important
}

.logo-component .logo-org {
    text-align: left;
    font-weight: 300;
    font-size: .9em;
    color: #666;
    margin: 3px;
    padding: 0;
    line-height: 0
}

.search-component .search-bar-advanced-btn {
    margin: 10px;
    border: 0 none;
    width: 40px;
    padding: 0;
    cursor: pointer;
    display: none
}

.search-component .search-bar {
    max-width: none;
    min-width: none;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    background: #fafafa;
    border-radius: .3em;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.search-component .search-bar-input {
    min-width: 50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.search-component .search-bar-input input[type=text] {
    min-width: 0;
    margin: 3px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 5px 0 2px 3px;
    font-size: 1em;
    font-weight: 500;
    border: 0 none;
    outline: none;
    background: #fafafa;
    color: #666;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    display: none
}

.search-component .search-bar-input input[type=submit] {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

@media only screen and (min-width: 25em) {
    .header-bar .logo-component .logo-icon {
        height: 47px
    }

    .header-bar .navigation-component .dropdown-menu {
        border-top: none;
        border-top-right-radius: 0;
        border-top-left-radius: 0
    }
}

@media only screen and (min-width: 30em) {
    .header-bar {
        margin: 0 auto
    }

    .header-bar .account-component {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none
    }

    .header-bar .auth-component {
        margin-right: 5px;
        display: block
    }

    .header-bar .logo-component {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        border-right: none;
        padding: 0 5px
    }

    .header-bar .navigation-component .dropdown-menu {
        border-top: none;
        border-top-right-radius: 0;
        border-top-left-radius: 0
    }

    .header-bar .search-component {
        margin-right: 0
    }
}

.client-js .search-facet select {
    opacity: 0;
    position: absolute
}

@media only screen and (min-width: 35.5em) {
    .header-bar .account-component {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3
    }

    .header-bar .logo-component {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none
    }

    .header-bar .navigation-component {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6
    }

    .header-bar .navigation-component .dropdown-menu {
        border-top: none;
        border-top-right-radius: 0;
        border-top-left-radius: 0
    }

    .header-bar .search-bar-input input {
        width: 100%
    }

    .header-bar .search-component .search-bar {
        width: auto;
        max-width: 205px
    }

    .header-bar .search-component .search-bar-advanced-btn {
        display: block
    }

    .header-bar .search-component .search-bar-component {
        width: 207px
    }

    .header-bar .search-component .search-bar-input {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex
    }

    .header-bar .search-component .search-bar-input input[type=text] {
        display: block
    }

    .header-bar .search-component .search-bar-submit {
        margin-right: 5px
    }

    .header-bar .search-component .search-facet {
        display: block
    }

    .header-bar .search-component .search-facet-selector {
        display: block
    }
}

a.ghost-btn {
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid #999;
    font-weight: 500;
    text-decoration: none;
    color: #fff !important
}

.iaBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.iaBarLogo {
    margin-left: 9px
}

.iaBarMessage {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right
}

.heart {
    color: #ff7a7f;
    font-size: 1.2em
}

#topNotice {
    font-weight: 100;
    font-size: .9em;
    margin-bottom: 5px
}

#topNotice .topNotice-container {
    margin: 0 auto;
    width: 958px
}

#topNotice .topNotice-left {
    float: left;
    display: table
}

#topNotice .topNotice-left a {
    display: table-cell;
    vertical-align: middle;
    height: 30px;
    padding-right: 8px;
    text-decoration: none;
    color: #fff
}

#topNotice .topNotice-left a:hover {
    color: #fff
}

#topNotice .topNotice-logo {
    font-size: 24px
}

.btn {
    text-align: center;
    padding: 5px 10px
}

.btn.primary {
    border: none;
    background-color: #3b98fc;
    color: #fff !important;
    border-radius: 5px
}

.btn--large {
    padding: 7px 20px;
    display: block;
    font-size: 14px;
    line-height: 1.5em;
    width: 100%
}

a.btn {
    text-decoration: none
}

.page-banner {
    display: none;
    color: #fff;
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;
    background: #035a8c;
    padding: 15px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom: 1px solid #e2dcc5
}

@media screen and (min-width: 768px) {
    .page-banner {
        display: block
    }
}

.page-banner-black {
    background-color: #e2dcc5; /*#333*/
    padding: 5px
}

.page-banner-black .cta {
    padding: 4px 8px;
    border-radius: 5px;
    border: 1px solid #545454;
    font-weight: 500;
    text-decoration: none;
    background: #454545;
    margin: 0 5px
}

.page-banner .button {
    border-radius: 5px;
    padding: 8px 10px;
    cursor: pointer;
    display: inline;
    border: 1px solid #3398db;
    color: #96a966
}

.page-banner a.button {
    text-decoration: none;
    background: #3398db;
    color: #fff
}

.page-banner a.button:hover {
    background: #63abd4;
    color: #fff
}

.page-banner .btn {
    display: block;
    max-width: 200px;
    margin: auto
}

.page-banner-body {
    font-size: .85em;
    padding: 10px;
    line-height: 25px;
    margin-bottom: 15px;
    text-align: center
}

@media only screen and (min-width: 768px) {
    .iaBarMessage {
        display: block
    }

    .header-bar .auth-component .hide-me {
        display: inline
    }

    .header-bar .navigation-component .dropdown-menu {
        border-top: none;
        border-top-right-radius: 0;
        border-top-left-radius: 0
    }

    .header-bar .search-component {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3
    }

    .header-bar .search-component .search-bar-component {
        width: 300px
    }

    .header-bar .search-component .search-justify-right {
        min-width: 210px
    }

    .header-bar .search-component .search-bar {
        width: auto;
        max-width: 310px
    }

    .page-banner .btn {
        display: inline
    }
}

@media all and (min-width: 960px) {
    .iaBarMessage {
        display: block
    }

    .iaBarLogo {
        margin-left: 0
    }

    .header-bar {
        margin: 20px auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }

    .header-bar .account-component {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
        padding-right: 0
    }

    .header-bar .auth-component {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6
    }

    .header-bar .hamburger-component {
        display: none
    }

    .header-bar .logo-component {
        padding-right: 15px
    }

    .header-bar .navigation-component {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        min-width: 250px;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1
    }

    .header-bar .navigation-component .dropdown-menu {
        border-radius: 3px;
        border: 1px solid #bbbcae
    }

    .header-bar .navigation-component .more-menu {
        display: block
    }

    .header-bar .navigation-component li .dropdown-menu {
        width: auto;
        white-space: nowrap
    }

    .header-bar .search-component .search-bar-component {
        width: 100%
    }

    .header-bar .search-component .search-bar {
        max-width: 100%
    }
}

div.navEdition {
    font-size: .9em;
    margin-top: 5px;
    color: #545454
}

span.booktitle {
    color: #333;
    font-family: Georgia, "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bold
}

div#editTools, div#editButton, div#editHistory {
    width: auto
}

div#editButton {
    float: left
}

div#editInfo {
    float: right;
    overflow: hidden;
    white-space: nowrap;
    text-align: right
}

div#editInfo > div {
    font-size: 11px;
    font-weight: normal;
    color: #625232 !important;
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif
}

div#editInfo .smallest {
    padding-top: .3rem
}

div#editTools {
    white-space: nowrap;
    overflow: hidden;
    padding: 0 0 1rem 0
}

.linkButton {
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    color: #333;
    display: inline-block
}

a.linkButton {
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #666;
    border: 1px solid #999
}

dd, dt {
    float: left
}

dt, .list-header {
    clear: both
}

.list-header {
    float: left;
    margin-bottom: 10px
}

dl {
    margin: 10px 0
}

dl:after {
    content: "";
    display: block;
    clear: both
}

dl dt {
    padding: 0 15px 10px 0;
    width: 120px
}

dd {
    max-width: 270px
}

dd + dd {
    padding-left: 8px
}

.workDetails {
    padding-bottom: 15px
}

div.editionCover {
    min-height: 10px;
    padding-right: 1.5em
}

.right.illustration {
    margin: 0 0 30px 30px
}

.left.illustration {
    margin: 0 30px 30px 0
}

.illustration {
    text-align: center;
    margin-bottom: 5px;
    position: relative
}

.illustration img {
    width: 180px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 0 #c3b683
}

.illustration .SRPCoverBlank {
    position: relative;
    width: 148px;
    height: 225px;
    min-width: 175px;
    min-height: 250px;
    padding: 15px;
    text-align: center;
    background: #dedede;
    font-size: 1em;
    display: none
}

.illustration .SRPCoverBlank .innerBorder {
    border: 2px solid #fff;
    width: 144px;
    height: 221px;
    margin: 0 auto
}

.illustration .SRPCoverBlank.author {
    position: relative;
    width: 131px;
    height: 180px;
    text-align: center;
    background: transparent url(/images/icons/avatar_author-lg.png) 15px 15px no-repeat;
    font-size: 1.0em;
    margin: 0 auto;
    display: none
}

.illustration .BookTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 108px;
    margin-left: -54px;
    height: 100px;
    margin-top: -50px;
    color: #333
}

.illustration .author .BookTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 108px;
    margin-left: -54px;
    height: 80px;
    margin-top: -40px;
    color: #000;
    display: none
}

.illustration .Author {
    color: #666;
    font-style: italic;
    padding: 4px 4px 0;
    font-size: 11px
}

.illustration .edition {
    font-size: .6875em;
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, sans-serif;
    margin: 10px auto
}

.editionCover .SRPCoverBlank {
    width: auto;
    height: auto
}

.star-messaging {
    color: #999;
    background: none;
    display: block;
    margin: 0 auto;
    border: 0;
    cursor: pointer
}

.stars {
    background: url(/static/images/stars.png) repeat-x 0 0;
    width: 150px;
    margin: 5px auto 7px;
    cursor: pointer
}

.stars input[type="submit"] {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0)
}

.stars .star-5.star-selected ~ span {
    width: 100%
}

.stars .star-4.star-selected ~ span {
    width: 80%
}

.stars .star-3.star-selected ~ span {
    width: 60%
}

.stars .star-2.star-selected ~ span {
    width: 40%
}

.stars .star-1.star-selected ~ span {
    width: 20%
}

.stars .star-0.star-selected ~ span {
    width: 0%
}

.stars label {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    text-indent: -999em;
    float: left;
    position: relative;
    z-index: 10;
    background: transparent;
    cursor: pointer
}

.stars label:hover ~ span {
    background-position: 0 -60px
}

.stars label.star-5:hover ~ span {
    width: 100%
}

.stars label.star-4:hover ~ span {
    width: 80%
}

.stars label.star-3:hover ~ span {
    width: 60%
}

.stars label.star-2:hover ~ span {
    width: 40%
}

.stars label.star-1:hover ~ span {
    width: 20%
}

.stars span {
    display: block;
    width: 0;
    position: relative;
    top: 0;
    left: 0;
    height: 30px;
    background: url(/static/images/stars.png) repeat-x 0 -60px
}

.dropit {
    position: relative;
    min-height: 50px
}

.dropit .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    /*background-image: url(/static/images/icons_sprite.png);*/
    background-repeat: no-repeat
}

.dropit .icon.list {
    background-position: 0 0
}

.dropit .icon.listed {
    background-position: -32px 0
}

.dropper.on .arrow {
    width: 23px;
    margin: 6px 5px
}

.dropper.on .arrow.up {
    background-position: -22px 0
}

.dropper.on div.arrow-activated {
    background-image: url(/static/images/icon_dropit.png);
    background-repeat: no-repeat;
    filter: grayscale(100%);
    background-position: 0 0;
    background-size: 45px
}

.dropper.on div.arrow-unactivated {
    background-image: url(/static/images/icon_dropit2.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 45px
}

.dropper .dropdown p.create a {
    color: #333;
    text-decoration: none
}

.dropper .dropdown .reading-lists .reading-list-title {
    background: #fff;
    padding: 5px 0 0 10px;
    margin: 0;
    font-size: .8em
}

.dropper .dropdown .my-lists {
    background: #fff;
    max-height: 250px;
    overflow-y: scroll;
    padding: 10px 15px
}

.dropper .dropdown .my-lists p a {
    display: block
}

div#subjectLists div.dropit h3 {
    font-weight: normal;
    margin: 0;
    padding: 5px
}

div#subjectLists div.dropit p.listed {
    color: #666;
    font-size: .8125em;
    padding: 0 0 0 42px;
    margin: 0 0 5px
}

div#subjectLists div.dropper {
    position: absolute;
    top: 0;
    left: 32px;
    width: 230px;
    z-index: 1001
}

div#subjectLists div.dropper.on {
    background-color: #ededed;
    border: 1px solid #999;
    border-radius: 4px
}

div#subjectLists div.dropper h3 {
    font-size: 1.125em;
    font-weight: 700;
    color: #000;
    min-height: 1.125em;
    width: auto
}

div#subjectLists div.dropper div.dropdown {
    display: none;
    padding-top: 10px
}

div#subjectLists div.dropper div.dropdown p {
    font-size: .875em;
    margin: 0 0 5px;
    color: #666
}

div#subjectLists div.dropper div.dropdown p a {
    font-size: .875em
}

div#subjectLists div.dropper div.dropdown p span {
    font-size: .8125em
}

#widget-add div.dropper div.dropdown p.create {
    border-top: 1px solid #ededed;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold
}

#widget-add.old-style-lists div.dropper {
    margin: 0;
    top: 0;
    position: absolute
}

div.Tools div.dropper {
    z-index: 10000;
    position: absolute
}

div.Tools div.dropper.on {
    /*background-color: #ededed;*/
    /*border: 1px solid #999;*/
    /*border-radius: 4px*/
}

div.Tools div.dropper h3 {
    font-size: 1.125em;
    font-weight: 700;
    color: #000;
    min-height: 1.125em;
    width: auto
}

div.Tools div.dropper div.dropdown {
    border-top: 1px solid #dedede;
    display: none
}

div.Tools div.dropper div.dropdown p {
    font-size: .875em;
    padding-left: 0;
    margin-bottom: 5px;
    margin-top: 0;
    color: #666
}

div.Tools div.dropper div.dropdown p span {
    font-size: .8125em
}

div.Tools div.dropper div.dropdown p a {
    font-size: .875em
}

div.Tools div.dropit p.listed {
    color: #666;
    font-size: .8125em;
    padding: 0 0 0 42px;
    margin: 0 0 5px
}

div.Tools #widget-add.old-style-lists .dropclick {
    padding: 10px;
    text-decoration: none
}

div.Tools #widget-add.old-style-lists .dropclick h3 {
    font-size: .75em;
    text-align: left;
    padding: 0px 10px;
    min-width: 150px
}

div#listsWork div.dropit p.listed {
    color: #666;
    font-size: .8125em;
    padding: 0 0 0 42px;
    margin: 0 0 5px
}

div#listsWork div.dropper {
    position: absolute;
    top: 0;
    left: 32px;
    width: 161px;
    z-index: 1001
}

div#listsWork div.dropper.on {
    background-color: #ededed;
    border: 1px solid #999;
    border-radius: 4px
}

div#listsWork div.dropper h3 {
    font-size: 1.125em;
    font-weight: 700;
    color: #000;
    min-height: 1.125em;
    width: auto
}

div#listsWork div.dropper div.dropdown {
    border-top: 1px solid #dedede;
    display: none;
    padding-top: 10px
}

div#listsWork div.dropper div.dropdown p {
    font-size: .875em;
    padding-left: 0;
    margin-bottom: 5px;
    color: #666
}

div#listsWork div.dropper div.dropdown p a {
    font-size: .875em
}

div#listsWork div.dropper div.dropdown p span {
    font-size: .8125em
}

.log-work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.log-work form {
    flex: 1
}

.log-work button[type=submit] {
    background-color: inherit;
    border: none;
    border-radius: 3px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    cursor: pointer;
    font-size: .75em;
    width: 100%;
    padding: 7px 0;
    margin: 0
}

.log-work button[type=submit].activated {
    color: #333;
    background: #ededed;
    border: 2px solid #f2f2f2;
    border-right: 1px solid #dedede
}

.log-work button[type=submit].unactivated {
    color: #fff;
    background: #3ea850;
    border: 2px solid #41a452;
    border-right: 1px solid #439850
}

.log-work button[type=submit] span.activated-check {
    color: #218732;
    margin-right: 2px
}

.dropclick {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.dropclick h3 {
    flex: 1
}

.dropclick .arrow {
    width: 20px;
    margin: 5px;
    margin-top: 10px
}

.dropclick-prevent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.dropclick-unactivated {
    background-color: #34a247
}

.user-book-options div.tools-override div.dropit {
    margin: 0;
    position: relative;
    width: auto
}

div.tools-override div.dropper {
    z-index: 10000;
    width: 180px;
    top: unset;
    left: -1px;
    margin: auto
}

a:hover > h3 {
    text-decoration: underline
}

a.dropclick.plain {
    text-decoration: none
}

ul.listLists {
    margin: 0;
    padding: 0
}

ul.listLists span {
    display: block;
    color: #666
}

ul.listLists li {
    list-style: none !important;
    border-radius: 3px;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid #ededed
}

ul.listLists li .image {
    width: 42px;
    min-height: 35px;
    padding: 0 10px
}

ul.listLists li .image img {
    width: 32px;
    max-width: 100%
}

ul.listLists li .data {
    width: 208px;
    padding: 3px 0
}

ul.listLists li .label {
    line-height: 1.125em;
    font-size: 12px
}

ul.listLists li .meta, ul.listLists li .owner {
    font-size: .6875em;
    line-height: 1.125em;
    margin: 5px 0
}

div.editionAbout {
    min-height: 10px
}

div.editionAbout h2.edition-byline {
    font-size: 14px; /*.9em;*/
    font-weight: normal;
    color: #333;
    margin: -10px 0 0 /*0 0 10px*/
}

div.editionAbout h3 {
    font-size: 14px;
    margin: 0 0 1em
}

div.editionAbout p {
    margin: 1em 0;
    font-size: 13px
}

.workDetails, .book-overview {
    border-bottom: 1px solid #ededed
}

.book-overview {
    padding-bottom: 10px
}

.book-overview > div {
    margin: 10px 0
}

.meta dt, .meta dd {
    font-size: 12px
}

.readers-stats {
    color: #666;
    font-size: 11px; /*.7em;*/
    margin: 5px 0
}

.readers-stats li {
    list-style-type: none;
    display: inline
}

.readers-stats li.reading-log-stat {
    color: #ccc
}

.readers-stats li:not(:last-child):after {
    content: '·';
    margin: 0 5px
}

.readers-stats__star {
    color: #737f8c;
    font-size: 1.3em
}

.contentQuarter div, .link-box div {
    padding-right: 19px;
}

.link-box h6 {
    color: #000;
    margin: 0 !important;
    padding: 0 !important;
    text-transform: uppercase !important;
    font-size: 11px;
}

.link-box > div {
    font-size: 11px; /*.75em*/
}

.link-box > div, div.subjects > div {
    white-space: normal;
    word-break: normal;
    word-wrap: break-word
}

div.editionTools {
    min-height: 10px;
    font-size: 100%
}

div.editionTools p {
    color: #666
}

.read-options, .Tools .btn-notice {
    line-height: 1.5em;
    font-size: 1em;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #dedede;
    border-bottom: 1px solid #999;
    margin-top: 0
}

.read-options .waitinglist-message, .Tools .btn-notice .waitinglist-message {
    margin: 0 0 10px;
    font-size: 12px
}

.read-options .cta-section, .Tools .btn-notice .cta-section {
    font-size: .78em
}

.read-options .check-availability, .Tools .btn-notice .check-availability {
    font-size: 14px;
    border-top: 1px solid #ededed
}

.read-options .check-other-editions, .Tools .btn-notice .check-other-editions {
    text-align: center
}

.read-options-panel__print-disabled-download, .Tools .btn-notice-panel__print-disabled-download {
    font-size: 11px;
    text-align: center
}

.read-options strong, .Tools .btn-notice strong {
    font-size: 12.5px;
    font-weight: bold
}

.read-options .cta-section-title, .Tools .btn-notice .cta-section-title {
    font-size: 12.5px;
    display: block;
    font-weight: bold
}

.read-options ul, .Tools .btn-notice ul {
    margin-left: 8px
}

.read-options li, .Tools .btn-notice li {
    list-style: disc;
    margin: 5px 10px 0
}

.read-options table, .Tools .btn-notice table {
    width: 100%
}

.read-options td, .Tools .btn-notice td {
    text-align: left;
    width: 49%
}

.read-options td.price, .Tools .btn-notice td.price {
    text-align: right
}

.Tools .booklinks li {
    list-style: none;
    font-size: 12px
}

.buy-options-table {
    white-space: nowrap
}

.cta-btn, a.cta-btn {
    font-size: 14px;
    color: #fff !important;
    width: 100%;
    display: block;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 7px 20px;
    white-space: nowrap;
    background-color: #999;
    line-height: 1.5em
}

.cta-btn--available, a.cta-btn--available {
    background-color: #3b98fc
}

.cta-btn--unavailable, a.cta-btn--unavailable {
    background-color: #ffa238
}

.cta-btn__badge, a.cta-btn__badge {
    background-color: #e68619;
    padding: 4px 7px;
    border-radius: 5px;
    font-size: .7em
}

.cta-btn + form input.cta-btn, .cta-btn + .cta-btn {
    margin-top: 5px
}

.shareLinks-list {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    word-break: keep-all
}

.shareLinks-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden
}

.shareLinks-list li {
    list-style-type: none;
    line-height: 24px;
    display: inline-block;
    margin: 5px 0 0 !important;
    padding: 0;
    flex: 1;
    cursor: pointer
}

.shareLinks-list a {
    display: block;
    text-align: center;
    cursor: pointer;
    line-height: 24px
}

.shareLinks-list img {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    height: 30px
}

.shareLinks li:hover {
    cursor: pointer
}

.shareLinks .share-source {
    font-size: 10px; /*.8em;*/
    text-align: center;
    color: #666;
    margin-top: 5px;
}

@media only screen and (min-width: 768px) {
    div.tools-override div.dropper {
        /*margin: inherit*/
        margin-top: 5px;
    }

    div.editionCover {
        margin-bottom: 1.5em;
        padding-right: 0
    }

    div.editionAbout {
        float: left;
        width: 430px
    }

    div.editionTools {
        float: right;
        width: 250px
    }

    .workDetails:after {
        content: '';
        clear: both;
        display: block
    }
}

@media only screen and (min-width: 960px) {
    div.editionCover {
        float: left;
        width: 180px;
        margin-right: 1.5em;
        margin-bottom: 0
    }
}

.admin-bar {
    padding: 5px;
    background-color: #ffa238
}

.admin-bar form {
    display: inline-block
}

.book .book-cta {
    margin: 5px auto 0;
    font-size: .9em;
    padding: 5px 0
}

.book .book-cta a {
    display: block
}

.book .book-cover img, .book .book-cover a {
    display: block
}

.book img.bookcover {
    margin: 0 auto;
    box-shadow: 1px 2px 5px 0 #c3b683;
    border-radius: 3px
}

.home-h2 {
    font-size: 1.2em;
    font-weight: normal;
    color: #035a8c;
    margin-bottom: .5em;
    margin-top: 1.75em
}

.carousel-container {
    margin: 0 -20px;
    padding: 3px 15px
}

.carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 15px;
    overflow-x: scroll;
    padding: 10px 20px
}

.carousel__item {
    float: left;
    height: 100%;
    margin: 0 10px;
    min-height: 1px
}

.carousel--minimal img {
    max-height: 100px;
    width: auto
}

.carousel > div {
    min-width: 130px
}

.carousel button {
    border: 0;
    position: absolute;
    color: transparent
}

.carousel .book:last-child {
    margin-right: 0
}

.carousel .book .book-metadata {
    width: 130px;
    margin: 0 auto
}

.carousel .book .book-title {
    font-size: .8em;
    margin: 5px 0;
    color: #333;
    font-weight: normal
}

.carousel .book .book-title a {
    color: #035a8c;
    text-decoration: none
}

.carousel__item .slick-loading {
    opacity: 0
}

.carousel-container-decorated {
    background: #f3edd8;
    border-bottom: 1px solid #e5e1cd;
    border-top: 1px solid #eae7d7
}

.carousel-section .SRPCover img {
    box-shadow: 1px 2px 5px 0 #c3b683
}

.client-js .carousel {
    margin-bottom: 0;
    overflow: hidden
}

.category-icon {
    margin: 0 auto;
    width: 30px
}

a.category-nostyle {
    text-decoration: none;
    display: block
}

img.category-img {
    display: block;
    margin-top: 5px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: #666
}

p.category-count {
    text-align: center;
    font-size: .7em;
    line-height: 1;
    color: #666;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    font-style: italic
}

p.category-title {
    font-size: .875em;
    text-align: center;
    line-height: 1;
    margin: 0;
    margin-top: 5px
}

.carousel .category-item {
    font-family: Georgia, "Palatino Linotype", "Book Antiqua", Palatino, serif
}

#pageHistory {
    width: 100%;
    margin-top: 30px
}

.pageHistory__list {
    font-size: .8em
}

.pageHistory__tools {
    font-size: .7em;
    float: right;
    padding-top: 8px
}

.pageHistory__list li:first-child:after {
    content: " · "
}

table.history {
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid #e8e8e8
}

table.history tr:last-child {
    background: #ededed
}

table.history td {
    font-size: .6875em;
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, sans-serif;
    color: #666;
    border-bottom: 1px solid #e8e8e8
}

table.history td.timestamp {
    padding: 10px;
    white-space: nowrap
}

table.history td.detail {
    padding: 10px;
    width: 100%
}

div#footer-content {
    max-width: 960px;
    margin: 5px auto;
    padding: 20px
}

div#footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-left: 10px;
    line-height: 1.5em
}

#footer-content div {
    flex: 1;
    flex-wrap: wrap;
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;
    min-width: 150px
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    bottom: 0;
    font-size: .8em
}

footer #footer-details {
    color: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%
}

footer h2 {
    color: #333;
    font-size: 1em;
    margin: 0
}

footer hr {
    border: 0;
    border-top: 1px solid #bbbcae;
    margin: 20px 0
}

footer ul {
    padding: 0;
    margin: 0
}

footer ul li {
    font-size: 1em;
    list-style-type: none;
    white-space: nowrap;
    margin: 5px 0
}

#footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #666;
    border-radius: 3px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-top: 10px;
    margin-right: 3px;
    margin-bottom: 5px;
    text-indent: -999px;
    overflow: hidden;
    background-position: center center;
    background-size: 18px auto;
    background-repeat: no-repeat
}

.footer-icons__github {
    background-image: url(/static/images/github.svg)
}

.footer-icons__twitter {
    background-image: url(/static/images/tweet.svg)
}

#footer-links ul li a {
    color: #036
}

#footer-links div {
    margin: 20px 0;
    padding: 0
}

img#archive-logo {
    margin-right: 10px;
    padding: 0;
    height: 27.5px;
    opacity: .7
}

div#legal-details {
    flex: .9;
    margin-bottom: 8px
}

div#version-details {
    text-align: right;
    flex: .1;
    margin-top: 8px
}

.version {
    color: #333;
    border: 1px solid #bbbcae;
    border-radius: 3px;
    padding: 8px 10px
}

@media only screen and (min-width: 768px) {
    div#editTools, div#editButton, div#editHistory {
        padding: 3px 1px 0 20px;
        float: right
    }

    div#editInfo {
        float: right
    }

    div#editTools {
        max-width: 280px
    }
}