{% if books %}
  <div class="carousel-section">
    <div class="carousel-section-header">
      <h2 class="home-h2"><a href="{{ show_url }}">{{ name }}</a></h2>
    </div>
    <div class="carousel-container carousel-container-decorated">
      <div class="carousel carousel-public_domain">

        {% for book in books %}
          <div class="book carousel__item">
            <div class="book-cover">
              <a href="{% url 'book_detail' book.slug %}">
                <img class="bookcover" width="130" height="200" title="{{ book }}"
                     src="{{ book.get_cover }}">
              </a>
              <small style="text-align: center"><a class="fnt-12" href="{% url 'book_detail' book.slug %}">{{ book.name|truncatechars:15 }}</a></small>
            </div>
            <div class="book-cta">
              {% if book.free_to_read %}
              <a class="btn-u btn-u-sea cta-btn cta-btn--available " href="{% url 'book_detail' book.slug %}"
                 data-ol-link-track="public_domain"
                 title="{{ book }}" data-key="public_domain">Read</a>
              {% else %}
              <a class="btn-u btn-u-sea cta-btn cta-btn--available " href="{% url 'borrow_book' book.id %}"
                 data-ol-link-track="public_domain"
                 title="{{ book }}" data-key="public_domain">Borrow</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
{% endif %}
